*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.css-r6ewbb-MuiToolbar-root{
  margin-left: -11rem;
}

.css-1uq6hf8{
  margin-left: 2rem;
  margin-top: 13px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.common{
  display: flex;
}

.post-img{
  width: 305px;
  height: 202px;
  border-radius: 13px;
}


.desc{
  margin-left: 2rem;
}

.create-post{
  margin-top: 30px;
}

.date{
  margin-top: 7px;
    font-size: 13px;
    color: grey;
    margin-left: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
